.header_main{ margin-bottom: 30px; }
.filter_section {
	padding-bottom: 45px;
	font-size: 0;
}
.filter_container{
	display: inline-block;
	width: 50%;
}
.continents_container{
	text-align: right;
	max-width: 100%;
	position: relative;
}
.continents {
	padding: 15px;
	font-size: 18px;
	background: var(--background_color);
	border: none;
	color:var(--font_color);
	max-width: 100%;
	box-shadow:var(--item_shadow);
	cursor: pointer;
}
.continent{ cursor: pointer; }
.select_arrow {
	background-color: var(--background_color);
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 1;
	width: 30px;
	top: 0;
	pointer-events: none;
}
.select_arrow::after {
	content:"\25BC";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 16px;
	color:var(--font_color);
	right: 10px;
}
.flag_container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap:30px
}
.flag_item{
	background: var(--background_color);
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
	box-shadow:var(--item_shadow);
	padding: 0;
}
.flag_image{
	max-width:100%;
	width: 100%;
	height: 180px;
	object-fit: cover;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.flag_content{ padding: 15px; }
.country{ padding-bottom: 15px; }
.flag_detail{ font-size: 18px; }
.border{ 
	margin-bottom: 30px; 
  margin-right: 30px;
}
.back_link{
	margin-right: 15px;
	text-align: center;
}
.detail_page_content{
	font-size: 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap:45px
}
.detail_page_container{
	vertical-align: top;
	font-size: 0;
}
.detail_info_content{
	vertical-align: top;
	margin-bottom:30px;
	display: inline-block;
	width: 50%;
	padding: 0 10px;
}
.detail_info_top{ padding-left: 0; }
.border_header{ margin-bottom: 30px; }
.flag_detail_image{ width: 100%; }

@media screen and (max-width:1600px) {
	.flag_container { grid-template-columns: repeat(3, 1fr); }
}

@media screen and (max-width:991px) {
	.flag_container { grid-template-columns: repeat(2, 1fr); }
	.detail_page_container{ grid-template-columns: 1fr; }
	.detail_page_content{ grid-template-columns: 1fr; }
	.detail_info_content{
		display: block;
		padding: 0;
		width: 100%;
	}
	.filter_container{
		display: block;
		width: 100%;
	}
	.filter_container.continents_container{
		width: auto;
		display: inline-block;
	}
	.continents_container{ text-align: left; }
	.search { width: 100%; }
	.border {
		display: block;
		text-align: center;
		margin-right: 0;
	}
}

@media screen and (max-width:468px) {
  .flag_container { grid-template-columns: 1fr; }
}