.header_main{
	color:var(--font_color);
	margin-bottom: 30px;
}

.filter_section {
	padding-bottom: 45px;
	font-size: 0;
}

.filter_container{
	display: inline-block;
	width: 50%;
}

.search {
	background: var(--background_color);
	color:var(--font_color);
	border: none;
	padding: 15px;
	font-size: 18px;
	border-radius: 3px;
	margin-bottom: 15px;
	width: 75%;
	box-shadow:var(--item_shadow);
}

.continents_container{
	text-align: right;
}

.continents {
	padding: 15px;
	font-size: 18px;
	background: var(--background_color);
	border: none;
	color:var(--font_color);
	max-width: 100%;
	width: 400px;
	box-shadow:var(--item_shadow);
}

.continent{
	cursor: pointer;
}

.flag_container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap:30px
}

.flag_item{
	background: var(--background_color);
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
	box-shadow:var(--item_shadow);
}

.flag_image{
	max-width:100%;
	width: 100%;
	height: 180px;
	object-fit: cover;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.flag_content{
	padding: 15px;
}

.country{
	padding-bottom: 15px;
}

.flag_detail{
	font-size: 18px;
}

.block_text{
	background:var(--background_color);
	color:var(--font_color);
	text-decoration: none;
	font-weight: 700;
	font-size: 18px;
	padding: 15px;
	display: inline-block;
	margin-bottom: 45px;
	box-shadow:var(--item_shadow);
	margin-right: 30px;
}

.border{
	margin-bottom: 30px;
}

.back_link{
	margin-right: 15px;
	text-align: center;
}

.detail_page_content{
	font-size: 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap:45px
}

.detail_page_container{
	vertical-align: top;
	font-size: 0;
}

.detail_info_content{
	vertical-align: top;
	margin-bottom:30px;
	display: inline-block;
	width: 50%;
	padding: 0 10px;
}

.detail_info_top{
	padding-left: 0;
}

.border_header{
	margin-bottom: 30px;
	font-size: 24px;
}

.flag_detail_image{
	width: 100%;
}

.not_found{
	color: var(--font_color);
}

@media screen and (max-width:1600px) {
	.flag_container {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width:991px) {
	.flag_container {
		grid-template-columns: repeat(2, 1fr);
	}

	.detail_page_container{
		grid-template-columns: 1fr;
	}

	.detail_page_content{
		grid-template-columns: 1fr;
	}

	.detail_info_content{
		display: block;
		padding: 0;
		width: 100%;
	}

	.filter_container{
		display: block;
		width: 100%;
	}

	.continents_container{
		text-align: left;
	}

	.search {
		width: 100%;
	}

	.border {
		display: block;
		text-align: center;
		margin-right: 0;
	}
}

@media screen and (max-width:468px) {
  .flag_container {
		grid-template-columns: 1fr;
	}
}