.header{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.mobile_menu{
  color: var(--font_color);
  font-size: 30px;
  display: none;
  text-align: left;
}
.color_mode{
  cursor: pointer;
  display: inline-block;
}
.right_header{ text-align: right; }
.nav_item{ display: inline-block; }
.nav_links{
  margin: 0 10px;
  font-size: 22px;
  box-shadow: none;
  padding: 0;
}
.nav_item:first-of-type>.nav_links{ margin-left: 0; }
@media screen and (max-width:991px) {
  .nav{ display: none; }
  .nav_item{ display: block; }
  .nav_links{ margin: 0; }
}

@media screen and (max-width:991px) {
  .mobile_menu{ display: block; }
  .header{ grid-template-columns: 1fr; }
  .right_header{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }
}