.header{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.right_header{
  text-align: right;
}

.color_mode{
  cursor: pointer;
  display: inline-block;
}

.nav_item{
  display: inline-block;
}

.nav_links{
  color: var(--font_color);
  text-decoration: none;
  font-weight: 700;
  margin: 0 10px;
  font-size: 22px;
}

.nav_item:first-of-type>.nav_links{
  margin-left: 0;
}

.nav_links.active{
  color:var(--active_link);
}