.footer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.copyright{margin-bottom: 0;}
.social_links_container{ text-align: right; }
.social_links{
  box-shadow: none;
  margin-bottom: 0;
  padding: 0;
}
.social_links_image{
  fill: var(--font_color);
  width:50px;
  margin-right:15px;
}
.social_links_container > a:last-of-type > .social_links_image{ margin-right: 0; }

@media screen and (max-width:991px) {
  .footer{ grid-template-columns: 1fr; }
  .social_links_container{
    text-align: left;
    margin-top: 30px;
  }
}