.form{
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
}
.login{width: 100%;}
.login:hover{background:#555eda;}
.signup{text-align: center;}
.signup_link{
  font-size: 2.2rem;
  box-shadow: none;
  padding: 0;
  background: transparent;
  color: var(--active_link);
  text-decoration: underline;
}